* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    height: 100svh;
    width: 100svw;
}

.dashboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
}

header {
    grid-area: 1 / 2 / 2 / -1;
}


main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}