* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

p,
span {
    line-height: 1.5;
}

body {
    height: 100svh;
    width: 100svw;
}

.dashboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: darkblue;
    color: whitesmoke;
    padding: 1rem;
}

header {
    grid-area: 1 / 2 / 2 / -1;
}


main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 3em;
    height: 3em;
    gap: 4px;
}

.rectangle {
    background-color: whitesmoke;
}

.rectangle:first-child {
    grid-row: 1 / span 3;
    grid-column: 1;
}

.rectangle:nth-child(2) {
    grid-row: 4 / span 2;
    grid-column: 1;
}

.rectangle:nth-child(3) {

    grid-row: 1 / span 2;
    grid-column: 2;
}

.rectangle:last-child {
    grid-row: span 3 / -1;
    grid-column: 2;
}

h1 {
    margin: 0;
}