:root {
    --sidebar-gap: 1rem;
    --sidebar-icon-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

p,
span {
    line-height: 1.5;
}

body {
    height: 100svh;
    width: 100svw;
}

.dashboard {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar, header, main {
    padding: 1rem;
}
.sidebar {
    grid-row: 1 / -1;
    background-color: darkblue;
    color: whitesmoke;
}

header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}


main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

/* ------- sidebar ------- */

.sidebar > * {
    margin-bottom: 3rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: var(--sidebar-gap);

    & .logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: var(--sidebar-icon-size);
        height: var(--sidebar-icon-size);
        gap: 4px;
    }

}


.rectangle {
    background-color: whitesmoke;
}

.rectangle:first-child {
    grid-row: 1 / span 3;
    grid-column: 1;
}

.rectangle:nth-child(2) {
    grid-row: 4 / span 2;
    grid-column: 1;
}

.rectangle:nth-child(3) {

    grid-row: 1 / span 2;
    grid-column: 2;
}

.rectangle:last-child {
    grid-row: span 3 / -1;
    grid-column: 2;
}

h1 {
    margin: 0;
}


& .menu__item {
    height: var(--sidebar-icon-size);
    display: flex;
    align-items: center;
    gap: var(--sidebar-gap);

    & svg {
        fill: whitesmoke;
        width: var(--sidebar-icon-size);
    }

    & span {
        font-size: 1.5rem;
    }
}


/* ------- for collapsed sidebar ------- */
@media only screen and (max-width: 992px ) {
    body {
        background-color: black;
    }
}